<h1>Ability Show</h1>


  <h2><%= @ability.name %></h2>
  <p><%= @super_person.name %></p>
  <p><%= @ability.description %></p>
  <%= link_to 'Edit', edit_ability_path %>
  <%= link_to 'Destroy', @ability, method: :delete %>
