<h1>Ability Show</h1>


  <h2><%= @ability.name %></h2>
  <p><%= @ability.super_id %></p>
  <p><%= @ability.description %></p>
  <%= link_to 'Edit', abilities_path(@ability) %>
  <%= link_to 'Destroy', @ability, method: :delete %>
